<p id="notice"><%= notice %></p>

<div class="words">
  <h1 class="title-topic">Your words</h1>
  <ul>
    <% @words.each do |word| %>
      <li>
        <%= link_to word do%>
          <%= word.word %>
        <%end%>
        <div class="content-subs">

            <div class="destroy">
              <%= link_to word, data: {:confirm => 'Are you sure?'}, :method => :delete do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            </div>
        </div>
      </li>
    <% end %>
  </div>
